<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>KaraokePlayerDemo</title>
		<link rel="stylesheet" href="css/7.css">
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lyricParsingV.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="css/materialdesignicons.min.css">
		<link rel="stylesheet" href="css/lrc.css"/>
		<style>
			*{
				font-family: 'Microsoft YaHei',Arial,Helvetica,Sans-Serif;;
			}

			#app{
				width: 100%;
				height: 100%;
				position: fixed;
				border: 0;
				margin: 0;
				padding: 0;
				left: 0;
				top: 0;
			}
			
			.toptip {
				margin: 20px 24px;
				position: fixed;
				top: 0;
			}
			
			.confont{
				margin: 32px 24px;
				font-size: 28px;
			}
			
			.rbottom{
				height: 50px;
				margin-bottom: 2rem;
				display: flex;
				justify-content: space-between;
			}
			
			.ctrlsx {
				line-height: 32px;
				align-items: center;
				text-align: center;
				display: flex;
				justify-content: space-between;
			}
			
			.ctrls {
				align-items: center;
				text-align: center;
				display: flex;
				justify-content: space-between;
				width: 170px;
				margin: 0 auto;
			}
			
			.ctrls div{
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 32px;
			}
		</style>
		<style>
			.div-list{
				width: 100%;
				height: calc(100% - 48px - 32px);
				overflow: scroll;
				margin: 0;
				overflow-x: hidden;
			}

			.div-list p{
				line-height: 32px;
				border-bottom: 1px solid rgba(0,0,0,.12);
				padding: 4px 28px;
				transition: all .2s ease;
				cursor: pointer;
				margin: 0;
				font-size: 14px;
			}
			
			.div-list p:hover{
				background-color: #EEEEEE;
			}

			#canvaslist{
				position: absolute;
				top: 0;
				margin-top: calc(50% - 480px);
			}
		</style>
		<style>
			.rightbutton{
				font-size: 26px;
				cursor: pointer;
				padding: 0 2px;
			}

			.nowplay{
				background-color: #39863e;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div style="position: fixed;top: 0;left: 0;width: 100%;height: calc(100% - 90px);text-align: center;" >
				<div>
					<p style="text-align: left;font-size: 32px;margin-top: 0.5rem;margin-bottom: 0.5rem;margin-left: 0.4rem;">{{ SongInfo.title }}</p>
					<p style="text-align: left;font-size: 16px;margin-top: 0.5rem;margin-bottom: 0rem;margin-left: 0.4rem;">{{ SongInfo.artist }}</p>
				</div>
				<div id="lrcSor" style="height: 240px;width: 100%;background-color: rgb(19 19 19 / 60%);overflow: hidden;display: flex;position: absolute;bottom: 0;justify-content: center;flex-direction: column;">
					<div id="lasttimeprocess" style="align-self: center;margin: 0px auto;background-color: coral;height: 0rem;position: absolute;top: 0;width: 100%;"></div>
					<div id="lasttime" style="align-self: center;margin: 0 auto;color: #FFFFFF;font-size: 1.8rem;font-family: fantasy;position: absolute;top: 1.2rem;display: none;">10 s</div>
					<div id="lrcDomList" class="lrcdisplay">
						
					</div>
				</div>
			</div>
			
			<div style="position: fixed;bottom: 0;left: 0;height: 90px;width: 100%;z-index: 30;">
				<div style="width: 100%;height: 100%;">
					<div style="margin-top: 10px;padding-left: 40px;padding-right: 40px;">
						<div id="cur_time" style="height: 4px;position: relative;margin: 4px 0px 4px;cursor: pointer;width: 100%;margin-left: 4px;margin-right: 4px;margin: 16px 0;">
							<div style="width: 100%;height: 4px;position: absolute;background-color: #1B5E20;"></div>
							<div id="curs" style="width: 0%;height: 4px;background: linear-gradient(90deg,#ff4f16,#f77850);position: absolute;transition:all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;"></div>
						</div>
						<div class="ctrls" style="float: left;">
							<div class="mdi mdi-play" @click="btnplay()"></div>
							<div class="mdi mdi-pause" @click="btnpause()"></div>
							<div class="mdi mdi-stop" @click="btnstop()"></div>
						</div>
						<div class="ctrlsx" style="float: right;">
							<div class="mdi mdi-cog" style="font-size: 26px;margin-right: 16px;cursor: pointer;" onclick="document.getElementById('setting').style.display = 'block';"></div>
							<div class="mdi mdi-volume-high" style="font-size: 26px;margin-right: 16px;cursor: pointer;" onclick="volopen()"></div>
							<div onclick="lightlist()" class="mdi mdi-playlist-plus rightbutton"></div>
							<div onclick="rightlist()" class="mdi mdi-playlist-music rightbutton" ></div>
						</div>
					</div>
				</div>
			</div>

			<div id="volinput" style="position: fixed;bottom: 72px;width: 172px;right: 48px;height: 32px;display: flex;justify-content: center;background-color: #b3b3b3;z-index: 50;display: none;">
				<input id="vols" type="range" max="100" min="0" value="100" style="width: 128px;margin: 0 auto;"/>
			</div>
			
			<div id="rglist" style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 5;background-color: rgba(0,0,0,0.25);z-index: 110;display: none;" >
				<div style="width: auto;height: 100%;" onclick="rightlist()"></div>
				<div id="rglistn" style="position: fixed;right: 0%;top: 0;height: 100%;width: 30%;background-color: #FFFFFF;z-index: 111;transition: all .4s cubic-bezier(0, 0, 0.2, 1);">
					<div style="color: gainsboro;padding: 12px 28px;height: 24px;">所有歌曲</div>
					<div style="display: flex;
						justify-content: center;
						height: 2rem;">
						<input type="text" placeholder="搜索内容" v-model="keyword" style="width: 100%;border-radius: 0;height: 32px;"/><button @click="search()" style="width: 4rem;">搜索</button>
					</div>
					<div class="div-list" id="songlist">
						<p v-for="(item,i) in searchresult" @click="addlist(i)">
							{{ item.artist }} - {{ item.title }}
						</p>
					</div>
				</div>
			</div>
			<div id="lglist" style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 5;background-color: rgba(0,0,0,0.25);z-index: 110;display: none;" >
				<div style="width: auto;height: 100%;" onclick="lightlist()"></div>
				<div id="lglistn" style="position: fixed;left: 0%;top: 0;height: 100%;width: 30%;background-color: #FFFFFF;z-index: 111;transition: all .4s cubic-bezier(0, 0, 0.2, 1);">
					<div style="color: gainsboro;padding: 12px 28px;height: 24px;">待播放列表</div>
					<div class="div-list" id="playsonglist" style="height: calc(100% - 48px)!important;">
						<p v-for="(item,index) in playlist" @click="clicklist(index)" :draggable="true" :class="item.now == true ? 'nowplay' : ''"
						@dragstart="dragstart(item)"
						@dragenter="dragenter(item,$event)"
						@dragend="dragend(item,$event)"
						@dragover="dragover($event)">
							{{ item.song.artist }} - {{ item.song.title }}
						</p>
					</div>
				</div>
			</div>

			<div id="setting" style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 15;background-color: rgba(0,0,0,0.25);z-index: 110;display: none;">
				<div class="background" style="position: fixed;left: calc(50% - 240px);top: calc(25%);">
					<div class="window glass" style="width: 480px;">
					  <div class="title-bar">
							<div class="title-bar-text">设置</div>
							<div class="title-bar-controls">
						  		<button aria-label="Close" onclick="document.getElementById('setting').style.display = 'none';"></button>
							</div>
					  	</div>
					  	<div class="window-body">
							<menu role="tablist">
								<button role="tab" aria-controls="setting" aria-selected="true">设置</button>
								<button role="tab" aria-controls="about">关于</button>
							</menu>
							<article role="tabpanel" id="setting">
								<p>
									<div class="field-row">
										<input type="checkbox" id="ClassicKaraokeOpen" onclick="SetClassicKaraokeMode()">
										<label for="ClassicKaraokeOpen">经典卡拉OK显示模式 (播放下一首歌时生效)</label>
									</div>
								</p>
							</article>
							<article role="tabpanel" hidden id="about">
								<h3 style="margin-top: 0;">KaraokePlayerDemo</h3>
								<p>项目链接:<a href="https://github.com/KLXLjun/KaraokePlayerDemo">KaraokePlayerDemo</a></p>
								<p>注意:在本项目Demo中,如果演示歌曲侵权,请与我联系,我会将其删除</p>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
		<audio id="audioElement" style="display: none;" controls="false"></audio>
	</body>
	<script src="./js/player.js"></script>
	<script>
		function secondToDate(result) {
		    let m = Math.floor((result / 60 % 60)) < 10 ? '0' + Math.floor((result / 60 % 60)) : Math.floor((result / 60 % 60));
		    let s = Math.floor((result % 60)) < 10 ? '0' + Math.floor((result % 60)) : Math.floor((result % 60));
		    return m + ":" + s;
		}
		
		function findPos(el){
			let x = 0, y = 0;
			if(el.offsetParent){
				do {
					x += el.offsetLeft;
					y += el.offsetTop;
				} while (el = el.offsetParent);
			}
			return { x: x, y: y };
		};
		
		var player = new Player({
			api:"song.json",
			debug:true
		});
		console.log(player);
		player.initlist();

		function SetClassicKaraokeMode(){
			let x = document.getElementById("ClassicKaraokeOpen").checked;
			if(typeof x == "boolean"){
				player.setClassicKaraoke(x);
			}
		}
		
		var vm = new Vue({
			el: "#app",
			data: {
				keyword: "",
				SongInfo:{
					title: 'KaraokePlayerDemo',
					artist: '-',
					album: '-',
				},
				nowSelect: -1,
				nowPlayIndex: -1,
				NowPlay: {
					now: "00:00",
					len: "00:00",
				},
				list:[],
				searchresult:[],
				playlist:[],
				oldData:null, // 开始排序时按住的旧数据
    			newData:null // 拖拽过程的数据
			},
			watch: {
				keyword(newVal) {
					let arr = this.list;
					if (newVal.length == 0) {
						this.searchresult = arr;
					}
				},
			},
			methods: {
				clicklist(index){
					this.nowPlayIndex = index;
					let p = this.playlist[index];
					for (let iu = 0; iu < this.playlist.length; iu++) {
						let p = this.playlist[iu];
						if(index == iu){
							this.playlist[iu].now = true;
						}else{
							this.playlist[iu].now = false;
						}
					}
					player.init();
					player.play(p.index);
				},
				addlist(index){
					console.log(this.list[index],index)
					this.playlist.push({
						index:index,
						song:this.list[index],
						now:false,
					})
				},
				btnnext(){
					player.next();
				},
				btnplay(){
					console.log(player.playerStatus.paused)
					if(player.playerStatus.paused){
						player.play();
					}
				},
				btnpause(){
					player.pause();
				},
				btnstop(){
					player.stop();
				},
				updatalist(newlist){
					this.list = newlist;
					this.searchresult = newlist;
				},
				dragstart(value) {
					this.oldData = value
				},
				dragenter(value, e) {
					// 记录移动过程中信息
					this.newData = value
					e.preventDefault()
				},
				dragend(value, e) {
					console.log()
					// 拖拽最终操作
					if (this.oldData !== this.newData) {
						let oldIndex = this.playlist.indexOf(this.oldData)
						let newIndex = this.playlist.indexOf(this.newData)
						if(this.nowSelect== oldIndex){
							this.nowSelect = newIndex;
						}
						let newItems = [...this.playlist]
						// 删除老的节点
						newItems.splice(oldIndex, 1)
						// 在列表中目标位置增加新的节点
						newItems.splice(newIndex, 0, this.oldData)
						this.playlist = [...newItems]
					}
				},
				dragover(e) {
					// 拖动事件（主要是为了拖动时鼠标光标不变为禁止）
					e.preventDefault()
				},
				search() {
					// 1、拿到当前所有的数据
					const { keyword, sortStr, list } = this;
					// 2、根据搜索条件查询
					let arr = list.filter((item) => item.title.indexOf(keyword) !== -1 || item.artist.indexOf(keyword) !== -1);
					console.log(arr);
					this.searchresult = arr;
				},
				nextpl(){
					let i = -1;
					for (let ym = 0; ym < this.playlist.length; ym++) {
						let element = this.playlist[ym];
						if(element.now == true){
							i = ym;
							break;
						}
					}
					this.playlist.splice(i,1);
					console.log(i,this.playlist)
					if(this.playlist.length>0){
						this.nowPlayIndex = this.playlist.length - 1;
						this.clicklist(this.nowPlayIndex);
					}
				}
			},
			mounted(){
				
			}
		});
		
		document.getElementById('cur_time').addEventListener('mouseup',(ew) => {
			let x = document.getElementById('cur_time')
			let pos = findPos(x);
			let diffy = ew.pageX - pos.x;
			let b = diffy / (x.clientWidth || x.offsetWidth || x.scrollWidth || x.style.width);
			player.seek(b * player.duration());
			
			let p = player.playPercentage() * 100;
			let duration = player.duration();
			let seek = player.seek();
			vm.$data.NowPlay.now = secondToDate(seek);
			vm.$data.NowPlay.len = secondToDate(duration);
			document.getElementById('curs').style.width = p + '%';
		})
		
		function ps(){
			let s = document.getElementById("ps_button")
			
			if(player.paused){
				player.play()
				if(s.classList.contains('mdi-play')){
					s.classList.remove('mdi-play');
					s.classList.add('mdi-pause');
				}
			}else{
				player.pause()
				if(!s.classList.contains('mdi-play')){
					s.classList.remove('mdi-pause');
					s.classList.add('mdi-play');
				}
			}
		}
		
		document.getElementById('vols').addEventListener('change',function(){
			player.volume(this.value);
		})
		
		player.onplaysonginfo = function(e){
			vm.$data.SongInfo.title = e.title;
			vm.$data.SongInfo.artist = e.artist;

			if ('mediaSession' in navigator){
				navigator.mediaSession.metadata = new MediaMetadata({
					title: e.title,
					artist: e.artist
				});
			}
		}

		player.onupdatasonglist = function(e){
			vm.updatalist(e);
		}

		player.onplayend = function(e){
			vm.nextpl();
		}

		if ('mediaSession' in navigator){
			navigator.mediaSession.setActionHandler('play', function() {
				player.play();
			});
			navigator.mediaSession.setActionHandler('pause', function() {
				player.pause();
			});
		}
		
		setInterval(function(){
			let p = player.playPercentage() * 100;
			let duration = player.duration();
			let seek = player.seek();
			vm.$data.NowPlay.now = secondToDate(seek);
			vm.$data.NowPlay.len = secondToDate(duration);
			document.getElementById('curs').style.width = p + '%';
		},1000)
		
		function rightlist(){
			let p = document.getElementById('rglist');
			let u = document.getElementById('lglist');
			
			if(u.style.display != "none"){
				u.style.display = 'unset';
			}
			
			if(p.style.display == "none"){
				p.style.display = 'unset';
			}else{
				p.style.display = 'none';
			}
		}

		function lightlist(){
			let p = document.getElementById('lglist');
			let u = document.getElementById('rglist');
			
			if(u.style.display != "none"){
				u.style.display = 'unset';
			}
			if(p.style.display == "none"){
				p.style.display = 'unset';
			}else{
				p.style.display = 'none';
			}
		}

		let volopenx = false
		function volopen(){
			volopenx = !volopenx
			if(volopenx){
				document.getElementById('volinput').style.display = 'flex';
			}else{
				document.getElementById('volinput').style.display = 'none';
			}
		}

		const tabButtons = document.querySelectorAll("[role=tab]");
		tabButtons.forEach((tabButton) => {
			tabButton.addEventListener("click", (e) => {
				e.preventDefault();
				const tabContainer = e.target.parentElement.parentElement;
				const targetId = e.target.getAttribute("aria-controls");
				tabButtons.forEach((_tabButton) =>
					_tabButton.setAttribute("aria-selected", false)
				);
				tabButton.setAttribute("aria-selected", true);
				tabContainer.querySelectorAll("[role=tabpanel]").forEach((tabPanel) => tabPanel.setAttribute("hidden", true));
				tabContainer.querySelector(`[role=tabpanel]#${targetId}`).removeAttribute("hidden");
			});
		});
	</script>
</html>
