/*--歌词样式 开始--*/
.lrcdisplay{
    align-self: center;
    margin: 0 auto;
	line-height: .75;
	height: 120px;
}

/* 滚动式输出 */
.lrcdisplay_style{
	margin: 0 auto;
	font-size: 2rem;
	padding: 8px 0px;
	background: #fff -webkit-linear-gradient(left, coral, coral) no-repeat 0 0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
	animation-fill-mode: forwards!important;
}

.lrcdisplay_style span{
	font-weight: 900;
}

.lrc_display_backrow{
	opacity: .75;
	transform: translateY(50%) scale(1);
	animation: a .35s ease-in-out;
}

.lrc_display_nowrow{
	opacity: 1;
	transform: translateY(100%) scale(.75);
	animation: b .35s ease-in-out;
}

.lrc_display_nextrow{
	opacity: 0;
	transform: translateY(0%) scale(.5);
	animation: c .35s ease-in-out;
}

/* 经典卡拉OK */
.lrcdisplay_classic_style{
	margin: 0 auto;
	font-size: 2rem;
	padding: 8px 0px;
	background: #fff -webkit-linear-gradient(left, coral, coral) no-repeat 0 0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
	animation-fill-mode: forwards!important;
}

.lrcdisplay_classic_style span{
	font-weight: 900;
}

.lrc_classic_display_countrow{
	opacity: 0.75;
	color: lawngreen;
}

.lrc_classic_display_nowrow{
	animation: y .25s ease-in-out;
}
.lrc_classic_display_nextrow{
	animation: z .25s ease-in-out;
}

/*--歌词样式 结束--*/

.confont {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro';
	margin: 0 4px;
}

@keyframes a {
    to {
        opacity: 0;
        transform: translateY(-100%) scale(.85)
    }
}

@keyframes b {
    to {
        opacity: 1;
        transform: translateY(-50%) scale(1)
    }
}

@keyframes c {
    to {
        opacity: .4;
        transform: translateY(0%) scale(.75)
    }
}

@keyframes y {
    to {
        opacity: 1;
    }
}

@keyframes z {
    to {
        opacity: 0.55;
    }
}
